#top-logo {
    background-color: white;
    vertical-align:middle;
    text-align:center;
}


body {
    background-color: #70abaf;
}

.container {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h1 , h3 {
    color: #2a555e;
}

.tracy {
    height: 200px;
    width: 200px;
    float: left;
    margin: 4px 20px 0px 0px;
}

.cover {
    width: 100%;
    object-fit: contain;
    margin-top: 10px;
}

.rightNav {
    margin-top: 10px;
}

.fa {
    font-size: 24px;
    padding: 2px;
    text-decoration: none;
}

.socialIcon {
    text-align: right;
    vertical-align: middle;
    color: #040301;
}

.socialIcon:hover {
    /*opacity: 0.7;*/
    text-decoration: none;
    color: #2a555e;
}

.footer {
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;

}
/*Footer on col-md-12*/
.foot {
    margin-top: 20px
}

a:hover {
    font-weight: bold;
    color: #2a555e;
}

.btn {
    background-color: #C02026;
    color: white;
}

.btn:hover {
    background-color: #C02026;
    color: white;
}


@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg
opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}


@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }
}
